<!doctype html>
<html lang="en">
    {%load chess_extras%}
    {%load static%}
  <head>
    <style>
        #status{
            text-align: center;
            padding: 10px 10px;
        }
        .cell{
            font-family: Arial, Helvetica, sans-serif;
            height: 64px;
            width: 74px;
            font-size: 48px;
            text-align: center;
            cursor: pointer;
        }
        .modal-body{
            font-size: 32px;
        }
        .modal-body-item{
            cursor: pointer;
        }
        .selected{
            background-color: yellow !important;
        }
        .white{
            background-color: rgb(255, 204, 153);;
        }
        .black{
            background-color: rgb(204, 153, 102);
        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
        h1{
            
            text-transform: capitalize;
            margin-top: 50px!important;
        }
        h2{
            text-transform: capitalize;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Chess</title>
  </head>
  <body>
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Chess</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">New Match</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/UKnowWhoIm/chess">Contribute <img height="20px" width="20px" src="{%static 'chess_client/GitHub-Mark-32px.png'%}"/></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div id="status"></div>
    <div class="table-responsive">
        <table id='board'> 
            {{request.session.board|print_board|safe}}
        </table>
    </div>
    <div id="promote_pawn" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose Piece</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-black-pieces">
                        <div class="modal-body-item" id="q">
                            &#x265B;
                        </div>
                        <div class="modal-body-item" id="r">
                            &#x265C;
                        </div>
                        <div class="modal-body-item" id="b">
                            &#x265D;
                        </div>
                        <div class="modal-body-item" id="n">
                            &#x265E;
                        </div>
                    </div>
                    <div id="modal-white-pieces">
                        <div class="modal-body-item" id="Q">
                            &#x2655;
                        </div>
                        <div class="modal-body-item" id="R">
                            &#x2656;
                        </div>
                        <div class="modal-body-item" id="B">
                            &#x2657;
                        </div>
                        <div class="modal-body-item" id="N">
                            &#x2658;
                        </div>
                    </div>
                    </div>
                </div>
            
            </div>
    
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity=""></script>
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        SUCCESS = '200'
        FAIL = '300'
        selected_piece = '';
        
        function update_table(board){
            // replace char with pieces
            var names = {
            'K': "&#x2654;",
            'Q': "&#x2655;",
            'R': "&#x2656;",
            'B': "&#x2657;",
            'N': "&#x2658;",
            'P': "&#x2659;",
            'k': "&#x265A;",
            'q': "&#x265B;",
            'r': "&#x265C;",
            'b': "&#x265D;",
            'n': "&#x265E;",
            'p': "&#x265F;",
            'f': ''
            }
            var cells = $('.cell');
            for(var i=0; i < 64; i++){
                cells[i].innerHTML = names[cells[i].innerHTML];
            }
        }
        function show_status(){
            var status;
            {%if not request.session.game_over%}
                status = "<h1>" + "{{request.session.player}}" + "\'s Turn</h1>";
                {% if request.session.is_check%}
                    // if is_check
                    status += "<h2>{{request.session.player}} Is In Check</h2>";
                {%endif%}
            {%else%}
                // game is over
                {%if request.session.winner == "black" or  request.session.winner == "white"%}
                    // If there is a winner
                    status = "<h1>" + "{{request.session.winner}}" + " Has Won</h1>";
                {%else%}
                    // game is tied
                    status = "<h1>Game is Tied</h1>";
                {%endif%}
            {%endif%}
            $("#status").html(status)

        }   
        
        function equalize_cols(){
            cols = $(".cell");
            for(var i = 0; i < 64; i++)
                if(cols[i].innerHTML == '')
                    cols[i].style ='height: 74px';
        }
        {% if request.session.player_disabled or request.session.player == 'black' and not request.session.ai_disabled%}
            function call_ai(){
                $.post('call_ai',function(data){
                    if(data == FAIL)
                        alert("Invalid Request")
                    else
                        location.reload();
                });
            }
        {%endif%}
        $(document).ready(function(){
            update_table();
            equalize_cols();
            show_status();
            {% if not request.session.game_over %}
                {% if request.session.player_disabled or request.session.player == 'black' and not request.session.ai_disabled%}
                    // AI turn
                    call_ai();
                {%endif%}
                {% if not request.session.player_disabled and request.session.player == "white" or request.session.ai_disabled%}
                    {% if request.session.pawn_promote%}
                        // pawn promotion
                        $("#promote_pawn").modal('show');
                        {%ifequal request.session.player "white"%}
                            $("#modal-white-pieces").css('display','block');
                            $("#modal-black-pieces").css('display','none');
                
                        {%else%}
                            $("#modal-white-pieces").css('display','none');
                            $("#modal-black-pieces").css('display','block');
                        {%endifequal%}
                        $(".modal-body-item").click(function(){
                            $.post("{%url 'pawn_promote'%}", {"piece":this.id},function(data){
                                if(data == FAIL)
                                    alert('Invalid Request')
                                else
                                    location.reload();
                            });
                        });
                    
                    {%else%}
                            // player turn
                            $(".cell").click(function(){
                                if(selected_piece != ''){
                                    current = selected_piece;
                                    target = this.id;
                
                                    $.post("{%url 'validate'%}", {"current": current, "target": target}, function(data){
                                        if(data == FAIL)
                                            alert("Invalid Move");
                                        else
                                            location.reload();
                                    })
                                    $("#"+selected_piece)[0].classList.remove("selected")
                                    selected_piece = ''
                                }
                                else{
                                    if(this.innerHTML != ''){
                                        selected_piece = this.id;
                                        this.classList.add("selected");
                                    }
                                }
                            
                            });
                    {%endif%}
                {%endif%}
            {%endif%}
        });
        
    </script>
    
  </body>
</html>